.table {
  border-collapse: collapse;
}
.table th {
  font-weight: 900;
  font-size: 25px;
  text-align: left;
  border-bottom: 1px solid black;
  padding: 8px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.table td {
  font-weight: 700;
  font-family: "monospace";
  font-size: 18px;
  color: rgb(110, 106, 106);
  border-bottom: 1px solid black;
  padding: 12px 8px;
}
.hyperlink {
  text-decoration: none;
  color: black;
}
